.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 350px;
	position: relative;
}

.carousel {
	width: 100%;
}
.carousel-item img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.color {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.color:after {
  content: "";
  display: block;    
  width: 100%;
  height: 100%;    
  position: absolute;
  top: 0;      
  left: 0;   
  background: transparent;
  background-color: #0b3d7d;
  opacity: 0.5;
}

.modal-header {
	border-bottom: none;
}

.modal-body {
	padding: 0;
}

.portfolio-item {
	cursor: pointer;
}

@media (max-width: 575px) {

	.carousel-item img {
		width: 100%;
		height: 300px;
	}

	.header{
		height: 300px;
	}
	h1 {
		font-size: 2rem;
	}
}